* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    color: white;

}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35)), url("../travel/travel7.jpg");
    /* background-image: url("/W/oasis/travel/travel7.jpg"); */
    background-size: cover;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 50px;
    height: 50px;
    position: relative;
    background-image: url("../travel/ind2.jpeg");
    /* background-image:url("https://www.google.com/imgres?q=travelling%20logo%20for%20projects%20diagram%20type%20background%20green&imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F1346213412%2Fvector%2Fecotourism-dock-pier-and-aquatic-plants-design-traveling-tourism-rural-scene-and-agritourism.jpg%3Fs%3D612x612%26w%3D0%26k%3D20%26c%3DthzdsQrEPaWDtsy8lMkA4tH-0piqhEhyYc8BCLFNjTA%3D&imgrefurl=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Feco-travel-logo&docid=fMzkEl8ElJZSTM&tbnid=MzshzHiVhezujM&vet=12ahUKEwjqo6_vqs6EAxULamwGHSYLDXYQM3oECH0QAA..i&w=612&h=510&hcb=2&ved=2ahUKEwjqo6_vqs6EAxULamwGHSYLDXYQM3oECH0QAA"); */
    background-size: cover;
    border-radius: 50%;
    background-image: transparent;

}

.logo:hover {
    width: 60px;
    height: 60px;
}

a {
    text-decoration: none;

}

.anchor {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;


}

a:hover {
    font-size: 16px;
    border-bottom: 1px solid white;

}

#for {
    border: none;
    list-style: none;
    color: green;
    width: 130px;
    height: 25px;
    border-radius: 50px;

}

.search input {
    border: 1px solid transparent;
    color: green;
    width: 140px;
    font-weight: 700;
    background: none;
    outline: none;

}

.search input:active {
    border: none;
    outline: none;


}

.search #hii {
    margin-right: 120px;
    color: green;

}

#hii {
    margin-right: 120px;
    color: green;
}

button {
    border: none;
    width: 100px;
    padding: 8px 10px;
    height: 35px;
    border-radius: 50px;
    color: white;
    background-color: forestgreen;
    font-weight: 600;
}

#user {
    border-radius: 50%;
    background-color: white;
    color: green;
    padding: 3px 3px 3px 3px;
}

.login button {
    padding: 0px 0px 3px 0px;

}

.explore {
    margin: 50px 0px 0px 80px;
    font-size: 45px;
    font-weight: 900;
    color: white;
    width: 40%;
    height: 100px;
}

.login button:hover {
    border: 2px solid white;
}

.dest {
    margin: 8px 0px 0px 80px;
    font-weight: bold;
    font-size: 45px;
    font-weight: 900;
    color: white;

    color: none;

    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

.para {
    width: 50%;
    color: white;
    height: 100px;
    margin: 15px 0px 0px 80px;
}

.book {
    margin: 45px 0px 0px 80px;
    width: 180px;

}

button:hover {
    background: none;
    border: 2px solid rgb(23, 112, 23);
    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.book:hover {
    border: 2px solid white;
}

.search {
    width: 160px;
    height: 25px;
    padding: 5px;
    border-radius: 50px;
    color: green;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.box1,
.box2,
.box3 {

    width: 460px;
    margin-top: 30px;
    height: 400px;
    font-size: 13px;
    background-color: white;
}

.box1 {
    margin-right: 30px;

}

.box2 {
    margin-right: 30px;

}



.box3 {
    margin-right: 30px;

}


.box11 {
    height: 40%;
    background-image: url("../travel/box.jpg");
    background-size: cover;

}

h3 {
    color: black;
}

.box12 {
    height: 40%;
    color: black;
    padding: 15px;
}



.box21 {
    height: 40%;
    background-image: url("../travel/box3.jpeg");
    background-size: cover;

}

h3 {
    color: black;
}

.box22 {
    height: 40%;
    color: black;
    padding: 15px;
}


.box31 {
    height: 40%;
    background-image: url("../travel/5.jpeg");
    background-size: cover;

}

h3 {
    color: black;
}

.box32 {
    height: 40%;
    color: black;
    padding: 15px;
}



div .b {
    height: 30px;
    width: 120px;
    padding-left: 40px;
}

.box1 button {
    width: 120px;
}

.box2 button {
    width: 120px;
}

.box3 button {
    width: 120px;
}

.b button:hover {
    color: green;
}